<html lang="vi">


<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="@Url.Content("~/Assets/css/slider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/common.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Assets/css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/fancydesigner/css/FancyProductDesigner-all.min.css")" rel="stylesheet" />


    <title>@ViewBag.Title</title>
    <meta name="description"
          content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeyword" />
    <link rel="canonical" href="" />
    <meta property="og:locale" content="vi_VN" />
    <meta http-equiv="content-language" content="vi" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description"
          content="@ViewBag.MetaDescription" />
    <meta property="og:url" content="http://waducase.com/" />
    <meta property="og:site_name" content="Wadu Case" />
    <meta property="og:image" content="http://waducase.com/Assets/img/iconhome.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:type" content="image/png">

    <meta property="og:image:width" content="900" />
    <meta property="og:image:height" content="900" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description"
          content="In ốp lưng điện thoại theo yêu cầu. Tạo thiết kế ốp lưng của riêng bạn với nền tảng thiết kế ốp lưng online của Wadu Case. Hơn 125 dòng điện thoại." />
    <meta name="twitter:title" content="Wadu Case || Thiết kế ốp lưng điện thoại của riêng bạn" />
    <meta name="robots" content="noodp,index,follow" />

    <meta href="@Url.Content("~/Assets/img/iconhome.jpg")" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="revisit-after" content="1 days" />


    <!--
    <style type="text/css">
      img.wp-smiley,
      img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
      }
    </style> -->


    <link rel='shortlink' href='' />

    <link rel="icon" href="@Url.Content("~/Assets/img/iconhome.jpg")" sizes="32x32" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101914866-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-101914866-2');
    </script>

</head>

<body data-rsssl=1
      class="home page-template page-template-page-blank page-template-page-blank-php page page-id-97 woocommerce-no-js wp-schema-pro-1.2.0 yith-ctpw lightbox nav-dropdown-has-arrow">

    <div id="wrapper">
        <header id="header" class="header header-full-width">
            <div class="header-wrapper">
                <div id="top-bar" class="header-top hide-for-sticky nav-dark flex-has-center">
                    <div class="flex-row container">
                        <div class="flex-col hide-for-medium flex-left">
                            <ul class="nav nav-left medium-nav-center nav-small  nav-divided"></ul>
                        </div>
                        <!-- <div class="flex-col hide-for-medium flex-center">
                          <ul class="nav nav-center nav-small  nav-divided">
                            <li class="html custom html_topbar_left">
                              <p style="text-align: center;"><span style="font-size: 136%;"><strong><span
                                      style="color: #ffff00;">Khuyến Mãi 20%</span> đến hết ngày 23/07</strong></span></p>
                            </li>
                          </ul>
                        </div> -->
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="nav top-bar-nav nav-right nav-small  nav-divided">
                                <li class="header-search-form search-form html relative has-icon">
                                    <div class="header-search-form-wrapper">
                                        <div class="searchform-wrapper ux-search-box relative form-flat is-normal">
                                            <form role="search" method="get" class="searchform" action="/tim-kiem">
                                                <div class="flex-row relative">
                                                    <div class="flex-col flex-grow">
                                                        <input type="search" class="search-field mb-0" name="s"
                                                               value="" placeholder="Tìm ốp cho điện thoại ?" /> <input type="hidden" name="post_type"
                                                                                                                        value="product" />
                                                    </div>
                                                    <div class="flex-col">
                                                        <button type="submit"
                                                                class="ux-search-submit submit-button secondary button icon mb-0">
                                                            <i class="icon-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="live-search-results text-left z-top"></div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="flex-col show-for-medium flex-grow">
                          <ul class="nav nav-center nav-small mobile-nav  nav-divided">
                            <li class="html custom html_topbar_left">
                              <p style="text-align: center;"><span style="font-size: 136%;"><strong><span
                                      style="color: #ffff00;">Khuyến Mãi 20%</span> đến hết ngày 23/07</strong></span></p>
                            </li>
                          </ul>
                        </div> -->
                    </div>
                </div>
                <div id="masthead" class="header-main show-logo-center hide-for-sticky">
                    <div class="header-inner flex-row container logo-center medium-logo-center" role="navigation">
                        <div id="logo" class="flex-col logo">
                            <a href="/" title="Wadu Case - In ốp lưng điện thoại chất lượng cao"
                               rel="home">
                                <img width="300" height="100" src="~/Assets/img/Baner Web 1.png" class="header_logo header-logo"
                                     alt="WADU Case" />

                        </div>
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <a href="#" data-open="#main-menu" data-pos="left"
                                       data-bg="main-menu-overlay" data-color="" class="is-small" aria-controls="main-menu"
                                       aria-expanded="false"><i class="icon-menu"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-col hide-for-medium flex-left">
                            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase"></ul>
                        </div>
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="header-nav header-nav-main nav nav-right  nav-uppercase"></ul>
                        </div>
                        <div class="flex-col show-for-medium flex-right">
                            <ul class="mobile-nav nav nav-right ">
                                <li class="header-search header-search-lightbox has-icon">
                                    <a href="#search-lightbox"
                                       data-open="#search-lightbox" data-focus="input.search-field" class="is-small">
                                        <i class="icon-search" style="font-size:16px;"></i>
                                    </a>
                                    <div id="search-lightbox" class="mfp-hide dark text-center">
                                        <div class="searchform-wrapper ux-search-box relative form-flat is-large">
                                            <form role="search" method="get" class="searchform" action="/tim-kiem">
                                                <div class=" flex-row relative">
                                                    <div class="flex-col flex-grow">
                                                        <input type="search" class="search-field mb-0" name="s"
                                                               value="" placeholder="Tìm kiếm dòng điện thoại ?" />
                                                        <input type="hidden" name="post_type"
                                                               value="product" />
                                                    </div>
                                                    <div class="flex-col">
                                                        <button type="submit"
                                                                class="ux-search-submit submit-button secondary button icon mb-0">
                                                            <i class="icon-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="live-search-results text-left z-top"></div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                @Html.Action("CartMobile", "Home")
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <div class="top-divider full-width"></div>
                    </div>
                </div>

                @Html.Action("MenuBar", "Home", new { isMobile = false })
                <div class="header-bg-container fill">
                    <div class="header-bg-image fill"></div>
                    <div class="header-bg-color fill"></div>
                </div>
            </div>
        </header>
        @RenderBody()
        @Html.Action("Footer", "Home")


    </div>
    @Html.Action("MenuBar", "Home", new { isMobile = true })

    <style>
        .devvn_button_call_action {
            position: fixed;
            z-index: 999;
            bottom: 5px;
            left: 5px;
        }

            .devvn_button_call_action a {
                display: inline-block;
                background: #df043e;
                color: white;
                border-radius: 20px;
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                font-size: 16px;
                padding: 3px 10px;
                margin-bottom: 5px;
                clear: both;
            }

            .devvn_button_call_action .devvn_call_action_item:last-child a {
                margin-bottom: 0;
            }

            .devvn_button_call_action a.devvn_call_action_face {
                background: #0160a0 !important;
            }

            .devvn_button_call_action a.devvn_call_action_zalo {
                background: #0080c8 !important;
            }

            .devvn_button_call_action strong {
                font-weight: 700;
            }
    </style>

    @Html.Action("CommonInfo", "Home")

    <script data-optimized='1' type='text/javascript' src="@Url.Content("/Assets/js/jquery-2.2.4.min.js")"></script>
    <script data-optimized='1' type="text/javascript" defer src="@Url.Content("/Assets/js/jquery-migrate141.js")"></script>

    @*<script data-optimized='1' type="text/javascript" defer src="@Url.Content("/Assets/js/jquery-migrate141_1.js")"></script>*@





    <script type='text/javascript'>
        var mPS2id_params =
        {
            "instances":
            {
                "mPS2id_instance_0":
                    { "selector": "a[rel='m_PageScroll2id']", "autoSelectorMenuLinks": "true", "scrollSpeed": 500, "autoScrollSpeed": "true", "scrollEasing": "easeInOutQuint", "scrollingEasing": "easeOutQuint", "pageEndSmoothScroll": "true", "stopScrollOnUserAction": "false", "autoCorrectScroll": "false", "layout": "vertical", "offset": 0, "highlightSelector": "", "clickedClass": "mPS2id-clicked", "targetClass": "mPS2id-target", "highlightClass": "mPS2id-highlight", "forceSingleHighlight": "false", "keepHighlightUntilNext": "false", "highlightByNextTarget": "false", "appendHash": "false", "scrollToHash": "true", "scrollToHashForAll": "true", "scrollToHashDelay": 0, "scrollToHashUseElementData": "true", "scrollToHashRemoveUrlHash": "false", "disablePluginBelow": 0, "adminDisplayWidgetsId": "true", "adminTinyMCEbuttons": "true", "unbindUnrelatedClickEvents": "false", "normalizeAnchorPointTargets": "false" }
            }, "total_instances": "1", "shortcode_class": "_ps2id"
        };
    </script>
    <script type='text/javascript'>
        var wc_add_to_cart_params = {};
        var woocommerce_params = {};
        var wc_cart_fragments_params = { "ajax_url": "", "wc_ajax_url": "", "cart_hash_key": "", "fragment_name": "" };
        var ghtk_array = {};
        var flatsomeVars =
            { "ajaxurl": "/search", "rtl": "", "sticky_height": "70", "user": { "can_edit_pages": false } }
    </script>
    <script type='text/javascript'>
        var wc_single_product_params = {
            "review_rating_required": "no", "flexslider": { "rtl": false, "animation": "slide", "smoothHeight": true, "directionNav": false, "controlNav": "thumbnails", "slideshow": false, "animationSpeed": 500, "animationLoop": false, "allowOneSlide": false }, "zoom_enabled": "", "zoom_options": [], "photoswipe_enabled": "1", "photoswipe_options": { "shareEl": false, "closeOnScroll": false, "history": false, "hideAnimationDuration": 0, "showAnimationDuration": 0 }, "flexslider_enabled": ""
        };
    </script>
    <script src="~/Assets/fancydesigner/js/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {


            var domain = location.protocol + "//" + location.host;
            var tutaythietke = domain + "/#batdauthietke";
            $('#menu-item-tutaythietke').attr("href", tutaythietke);

            var s = location.hash;
            if (s && s.includes("batdauthietke")) {
                var offset = $(s).offset().top;
                if (s) {
                    setTimeout(function () {

                        window.scrollTo(0, offset);
                    }, 1500);
                }
            };
        });




    </script>
    @RenderSection("Scripts", false)

</body>

</html>