@using WaduCaseBusiness.Model
@model CollectionBO

@{
    ViewBag.Title = "Cập Nhật Collection | Admin WaduCase";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script>
        $(document).ready(function () {

            $('#button-logoselect').on('click', function (e) {
                e.preventDefault();
               
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#tbLogo').val(url);


                };
                finder.popup();

            });
            var editor = CKEDITOR.replace('tardecription', {
                customConfig: "/Assets/Admin/plugins/ckeditor/config.js",

            });
        });


    </script>

}

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Cập nhật Collection</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @*form here*@

                        @using (Html.BeginForm("UpdateCollection", "Category", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                <div class="item form-group">

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.id, new { @class = "form-control col-md-7 col-xs-12", @type = "hidden" })

                                    </div>
                                </div>


                                <div class="item form-group">
                                    @Html.LabelFor(model => model.name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.name, new { @class = "form-control col-md-7 col-xs-12", @required = "" })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="item form-group">
                                    @Html.LabelFor(model => model.seoname, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.seoname, new { @class = "form-control col-md-7 col-xs-12", @required = "" })
                                        @Html.ValidationMessageFor(model => model.seoname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="item form-group">
                                    @Html.LabelFor(model => model.description, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(model => model.description, new { @class = "form-control col-md-7 col-xs-12", @id = "tardecription" })
                                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                    </div>
                                </div>




                                <div class="item form-group">
                                    @Html.LabelFor(model => model.keyword, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.keyword, new { @class = "form-control col-md-7 col-xs-12", @type = "text", @required = "" })
                                        @Html.ValidationMessageFor(model => model.keyword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="item form-group">
                                    @Html.LabelFor(model => model.metakeyword, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.metakeyword, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.metakeyword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="item form-group">
                                    @Html.LabelFor(model => model.metadescription, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(model => model.metadescription, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.metadescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>
                                    <p style="color:red;font-style:italic;text-align: center;">Vui lòng up hình 900x900 để được hiển thị tốt nhất trên web</p>
                                </div>

                                @*thư viện CKFinder*@
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.logo, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.logo, "", new { @class = "form-control col-md-7 col-xs-12", @readonly = "readonly", @required = "", @id = "tbLogo" })
                                        <a id="button-logoselect" href="#">Chọn Ảnh</a>
                                        @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="item form-group">
                                    @Html.LabelFor(model => model.displayorder, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(model => model.displayorder, new { @class = "form-control col-md-7 col-xs-12", @required = "", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.displayorder, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="item form-group">
                                    <div class="col-md-offset-5 col-md-10">
                                        <input type="submit" value="Cập Nhật" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Collection")
                        </div>
                        @*end form*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


